@page "/candles-history/{HistoryItemId}"

@using Vertr.Platform.Host.Components.Common
@using Vertr.MarketData.Contracts

<h3>CandlesHistory</h3>

<CandlesHistoryGrid Height="800px"
    TableName="Intraday Candles"
    HistoryItemId="@HistoryItemId" />

