@page "/perspective-quotes"

<h3>Perspective Quotes Demo</h3>

<QuotesGrid Height="800px"
                 SchemaEndpoint="sample-data/quotes.schema.json"
                 DataEndpoint="sample-data/quotes.json"
                 TableName="Sample Quotes Table" />
