@using Vertr.Platform.Host.Components.Models

@implements IDialogContentComponent<SimplePerson>

<FluentSearch @ref=searchTest
              @bind-Value="@searchValue"
              @bind-Value:after=HandleSearchInput
              Placeholder="Search for State" />
<br />
<FluentListbox aria-label="search results" Items=@searchResults TOption="string" SelectedOptionChanged="@(e => searchValue = (e != defaultResultsText ? e : string.Empty))" />

<p>
    You searched for: @searchValue
</p>

