@using Vertr.MarketData.Contracts

@implements IDialogContentComponent<Instrument>

<FluentKeyCode PreventDefaultOnly="[KeyCode.Escape]">

<FluentSearch @bind-Value="@searchValue"
              @bind-Value:after=HandleSearchInput
              Placeholder="name or ticker" />
<br />
<FluentListbox aria-label="search results"
    Items=@searchResults
    TOption="Instrument"
    OptionText="@(p => $"{p.Symbol.ClassCode}.{p.Symbol.Ticker} ({p.Name})")"
    SelectedOptionChanged=HandleOptionChanged
/>

<p>
    Selected: @Content?.Name
</p>

</FluentKeyCode>
